PORT=3001
DATABASE_URL="postgresql://user:password@localhost:5434/corporacao_db?schema=public"
JWT_SECRET="your_secret_key_here"
NODE_ENV=development

# Neon PostgreSQL (Production)
# DATABASE_URL="postgresql://neondb_owner:password@ep-xxxx.us-east-1.aws.neon.tech/neondb?sslmode=require"
